
body {
    background: #e2e2e2;
   background-image: url("https://images.unsplash.com/photo-1574594882461-02a7a96d2c2f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
   background-repeat: no-repeat;
   background-size: cover;

    font-family: 'Roboto', sans-serif
}

#mainContainer {
    padding: 25px;
    background: white;
}

.table {
    background: white;
}

.main-header {
    padding: 10px;
    color: #006494;
}

.location {
    display: none;
}

.checkedBoxText {
    cursor: pointer;
}

input[type=checkbox]:checked + label {
    font-weight: bold;
    border-radius: 30px 30px 30px 5px;
    background-color: #82c5e4b7;
  } 

/* checkbox "Remember me" */
 #rememberCheckbox input[type="checkbox"]:checked + label {
    /* -webkit-appearance: checkbox;
       -moz-appearance: checkbox;
            appearance: checkbox;
    width: auto; */
    background-color: white;
  }

/*
  .thumbnail:hover {
    transform: scale(5.5);
    border: #006494 solid 1px;
    transition: .2s;
  }
*/
a {
  vertical-align: middle;
  font-size: 1.2em;
}
  a:hover {
    fill: red;
  }

  .table thead th {
    height: 77px;
    vertical-align: top;
}


/*
Style for invisible elements
*/
#greetUser {
    padding: 10px;
}

/*
.visually-hidden { 
  position: absolute; 
  overflow: hidden; 
}


#birdsList tr {
  display: none;
}

*/

#file {
  height: 43px;
}

#advancedButton {
  margin-bottom: 10px;
}

#mainContainer {
  border-radius: .25rem;
  box-shadow: 5px 10px 18px #888888;
}

